/* Big Screens */


/* @media (min-width: 1025px) {
    .btn-link-1 {
        margin-top: 30px;
        margin-bottom: 15px;
         margin-left: 20px; 
    }
} 
*/


/* Desktop Mode */

@media (min-width: 769px) {
    .btn-link-1 {
        display: inline-block;
        height: 33px;
        margin-top: 10px;
        padding: 6px 10px 0 10px;
        background: #4aaf51;
        /* font-size: 16px; */
        /* font-weight: 300; */
        /* line-height: 16px; */
        color: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .btn-link-1.btn-link-facebook {
        margin-left: 20%;
    }
    .btn-link-1.btn-link-twitter {
        margin-left: 20px;
    }
    .btn-link-1.btn-link-google-plus {
        margin-left: 20px;
    }
    .btn-link-1.btn-link-github {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}


/* Portrait Tablet */

@media (min-width: 481px) and (max-width: 768px) {
    .btn-link-1 {
        display: inline-block;
        height: 33px;
        margin-top: 10px;
        padding: 6px 10px 0 10px;
        background: #4aaf51;
        /* font-size: 16px; */
        /* font-weight: 300; */
        /* line-height: 16px; */
        color: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .btn-link-1.btn-link-facebook {
        margin-left: 25%;
    }
    .btn-link-1.btn-link-twitter {
        margin-left: 20px;
    }
    .btn-link-1.btn-link-google-plus {
        margin-left: 20px;
    }
    .btn-link-1.btn-link-github {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}


/* Landscape smart phone */

@media (min-width: 321px) and (max-width: 480px) {
    .btn-link-1 {
        display: inline-block;
        height: 33px;
        margin-top: 10px;
        padding: 6px 10px 0 10px;
        background: #4aaf51;
        /* font-size: 16px; */
        /* font-weight: 300; */
        /* line-height: 16px; */
        color: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .btn-link-1.btn-link-facebook {
        margin-left: 40px;
    }
    .btn-link-1.btn-link-twitter {
        margin-left: 10px;
    }
    .btn-link-1.btn-link-google-plus {
        margin-left: 10px;
    }
    .btn-link-1.btn-link-github {
        margin-left: 10px;
        margin-bottom: 20px;
    }
}


/* Portrait smart phone   */

@media (max-width: 320px) {
    .btn-link-1 {
        display: inline-block;
        height: 33px;
        margin-top: 10px;
        padding: 6px 10px 0 10px;
        background: #4aaf51;
        /* font-size: 16px; */
        /* font-weight: 300; */
        /* line-height: 16px; */
        color: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .btn-link-1.btn-link-facebook {
        margin-left: 60px;
    }
    .btn-link-1.btn-link-twitter {
        margin-left: 20px;
    }
    .btn-link-1.btn-link-google-plus {
        margin-left: 60px;
    }
    .btn-link-1.btn-link-github {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}