body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search-box {
	width: 550px;
    position: absolute;
    left: 404px;
	height: 30px;
	font-size: 16px;
	outline: none;
}