<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>
    <body>
 
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<script src="javascripts/main.js"></script>
    </body>
</html>