<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
    <body>
            <div class="search">
                <form action="/" method="post">
                        <input type="Text" name="search" class="search-box">
                </form>
                
            </div>
    
    </body>
</html>